*{
    overflow: hidden;
}
.big{
    width: 750px;
    height: 750px;
    background-color:darkred;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    bottom: 10%;
}
.mid{
    position: absolute;
    background-color:darkred;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    right: 82%;
    top: 59%;
    box-shadow: 0px 0px 10px 2px black;
}
.small{
    position: absolute;
 background-color:darkred;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    right: 50%;
    top: 47%;
    box-shadow: 0px 0px 10px 2px black;
}
.text{
    position: absolute;
    right: 65%;
    top: 25%;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.text h1{
margin-bottom: 0;
}
p{
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}
form{
    position: absolute;
    right: 13%;
    top: 30%;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
form h1{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 20px;
}
form button{
    text-align: center;
        margin-left:33px;
    margin-right:30px;
    width: 85%;
    height: 45px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 16px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.input input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
    
}
.image{
    width: 250px;
    height: 200px;
    position: absolute;
    right: 1%;
    top: 0%;
}
img{
    width: 100%;
    height: 100%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    padding-left:30px;
    padding-right:30px;
}
.forgot a{
    text-decoration: none;
}
.error{
    color:red;
    font-size:14px;
    margin:5px 0 10px;
}